<html ng-app="myAngularApp">
    <head>
        <title></title>
    </head>
    <script src="angular.min.js"></script>
    <script src="angular-route.js"></script>
    <body>
        
        <!--<div ng-include="'header.html'"></div>-->

        <!--<header-title></header-title> //Element-->
        <div header-title></div>

        <div ng-view></div>

        <!--
        <input type="text" ng-model="name"> <br>
        Nama: {{ name }}
        <br>
        <br>
        <input type="text" ng-model="num"> <br>
        Hasil dikali 5: {{ num*5 }}
        -->

        <!--
        <div ng-init="namabuah=['jeruk','apel','melon','salak']"></div>

        <ul>
            <li ng-repeat="buah in namabuah">{{ buah }}</li>
        </ul>
        -->

        <!--
        <div ng-init="datas = [
            {
                nama:'Adi',
                kota:'Jimbaran'
            },
            {
                nama:'Made',
                kota:'Denpasar'
            },
            {
                nama:'Wayan',
                kota:'Sanur'
            }
        ]"></div>
        -->

        <div part-title></div>

        <script>
            //init module
            var modul = angular.module('myAngularApp',['ngRoute']);

            //template directive
            modul.directive('headerTitle',function(){ //'headerTitle' bcoz of CamelCase
                return{
                    restirct    : 'A', //E for Element, A for Attribute
                    templateUrl : 'header.html'
                }
            });

            modul.directive('partTitle',function(){
                return{
                    restirct    : 'A',
                    templateUrl : 'part.html',
                    controller  : function($scope){
                        $scope.datas = [
                                {
                                    nama:'Adi',
                                    kota:'Jimbaran'
                                },
                                {
                                    nama:'Made',
                                    kota:'Denpasar'
                                },
                                {
                                    nama:'Wayan',
                                    kota:'Sanur'
                                },
                                {
                                    nama:'ketut',
                                    kota:'Jembarana'
                                }
                              ];
                    }
                }
            });

            //init controller
            // modul.controller('dataOrang', ['$scope', function($scope){
            //     $scope.datas = [
            //                     {
            //                         nama:'Adi',
            //                         kota:'Jimbaran'
            //                     },
            //                     {
            //                         nama:'Made',
            //                         kota:'Denpasar'
            //                     },
            //                     {
            //                         nama:'Wayan',
            //                         kota:'Sanur'
            //                     },
            //                     {
            //                         nama:'ketut',
            //                         kota:'Jembarana'
            //                     }
            //                   ];
            // }]);

            //route
            modul.config(function($routeProvider){
                $routeProvider
                .when('/tambahdata',{
                    templateUrl : 'add-data.html',
                    controller  : function($scope){
                        $scope.tambahData = function(){
                            $scope.datas.push({
                                nama: $scope.databaru.nama,
                                kota: $scope.databaru.kota
                            });
                        }
                    }
                })
                .when('/tentang',{
                    templateUrl : 'tentang.html'
                })
                .otherwise({redirectTo:'/'});
            });
        </script>
    </body>
</html>